html
    head
        title Demo
        meta(charset = 'UTF-8')

        //- link(rel='stylesheet' href='styles.css')

    body

        my-app Loading...

        script(src='jspm_packages/system.js')
        script(src='config.js')
        script(src='bundle.js')
        script(src='starter.js')
